.header {
  background-color: green;
  padding: 4px 8px;
  color: white;
  text-align: center;
  font-size: 20px;
}
.footer {
  background-color: green;
  padding: 8px 16px;
  color: white;
  text-align: center;
  font-size: 15px;
}

.imagem {
  max-width: 100%;
  height: auto;
}

.recipe-card {
  text-align: center;
  min-width: 320px;
  max-width: 345px;
  margin: 16px auto;
  box-shadow: 10px 10px 50px black;
}

.descricao {
  font-size: 12px;
  text-transform: uppercase;
  color: #b8b8b8;
  padding: 4px 12px;
}
